* {
    padding: 0;
    box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  align-items: flex-start;
  flex-direction: column;
  
}



#cabezera{
    text-align: center;
    background-color: white;
    border-radius: 30px;
    position: relative;
    top: 50px;
    margin-left: 200px;
    margin-right: 200px;
}


#cabezado{
    text-align: center;
    background-color:blueviolet;
    height: 50px;
    border-radius: 10px;
}

h3{
    color:white;
    position: relative;
    top: 15px;
    margin-left: 40px;
}

#enlace1{
    
    height: 20;
    right: 70px;
    color: blueviolet;
    position: relative;
    top: 10px;
    display: inline-block;
}

#enlace2{
    
    height: 40px;
    left: 60px;
    position: relative;
    top: 10px;
    color: blueviolet;
    display: inline-block;
    
}
#gamestore{
    color:white;
    position: relative;
    top: 10px;
    margin-left: 40px;
    
}



h4{
    position: relative;
    top: -56px;
}

#pri{
    color: white;
    position: relative;
    top: -30px;
    margin-left: 1300px;
}

#seg{
    color: white;
    position: relative;
    top: -70px;
    margin-left: 1450px;
}

#pri2{
    color: white;
    position: relative;
    top: -30px;
    margin-left: 1200px;
}

#seg2{
    color: white;
    position: relative;
    top: -56px;
    margin-left: 1350px;
}

#textindex{
    position: relative;
    top: 200px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#textindex:hover{
    color: rgb(139, 41, 118);
    text-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #0ff;
    animation: parpadear 1.5s infinite alternate;
}
#text{
    position: relative;
    top: 200px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#text:hover{
    color: rgb(139, 41, 118);
    
    
}

#titulo-juegos{
    text-align: center;
    background-color: blueviolet;
    color: white;
    
}
#fila-juegos{
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
    top: 250px;
    background-color: white;
    margin-left: 400px;
}

#juegos{
    background-color: white;
    height: 1300px;
    
}

#juego1{
    position: relative;
    top: 60px;
    margin: 50px;
    margin-left: 150px;
    height: 290px;
}
#base1{
    position: relative;
    top: 15px;
    margin-left: 150px;
}

#juego2{
    position: relative;
    top: -350px;
    margin-left: 560px;
    height: 290px;
}
#base2{
    position: relative;
    top: -345px;
    margin-left: 550px;
}

#juego3{
    position: relative;
    top: -704px;
    margin-left: 950px;
    height: 290px;
}
#base3{
    position: relative;
    top: -700px;
    margin-left: 950px;
}

#juego4{
    position: relative;
    top: -1060px;
    margin-left: 1350px;
    height: 290px;
}
#base4{
    position: relative;
    top: -1060px;
    margin-left: 1350px;
}

#juego5{
    position: relative;
    top: -890px;
    margin-left: 150px;
    height: 290px;
}
#base5{
    position: relative;
    top: -890px;
    margin-left: 150px;
}

#juego6{
    position: relative;
    top: -1250px;
    margin-left: 550px;
    height: 290px;
}
#base6{
    position: relative;
    top: -1250px;
    margin-left: 550px;
}

#juego7{
    position: relative;
    top: -1608px;
    margin-left: 950px;
    height: 290px;
}
#base7{
    position: relative;
    top: -1610px;
    margin-left: 950px;
}

#juego8{
    position: relative;
    top: -1969px;
    margin-left: 1350px;
    height: 290px;
}
#base8{
    position: relative;
    top: -1965px;
    margin-left: 1350px;
}

#botonindex{
    position: relative;
    top: 250px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#botonindex:hover{
    background-color: grey;
    transform: scale(1.08);
    opacity: 0.9;
}

#botonComprar, #botonComprar2, #botonComprar3, #botonComprar4, #botonComprar5, #botonComprar6, #botonComprar7, #botonComprar8{
    position: relative;
    top: -1800px;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    line-height: normal;
}
#botonComprar:hover{
    background-color: grey;
    transform: scale(1.08);
    opacity: 0.9;
}
#botonComprar2:hover{
    background-color: grey;
    transform: scale(1.08);
    opacity: 0.9;
}
#botonComprar3:hover{
    background-color: grey;
    transform: scale(1.08);
    opacity: 0.9;
}
#botonComprar4:hover{
    background-color: grey;
    transform: scale(1.08);
    opacity: 0.9;
}
#botonComprar5:hover{           
    background-color: grey;
    transform: scale(1.08);
    opacity: 0.9;
}
#botonComprar6:hover{
    background-color: grey;
    transform: scale(1.08);
    opacity: 0.9;
}
#botonComprar7:hover{
    background-color: grey;
    transform: scale(1.08);
    opacity: 0.9;
}
#botonComprar8:hover{
    background-color: grey;
    transform: scale(1.08);
    opacity: 0.9;
}

#botonComprar{
    position: relative;
    top: -2480px;
    margin-left: 150px;
}

#botonComprar2{
    position: relative;
    top: -2480px;
    margin-left: 300px;
}
#botonComprar3{
    position: relative;
    top: -2480px;
    margin-left: 300px;
}
#botonComprar4{
    position: relative;
    top: -2480px;
    margin-left: 300px;
}
#botonComprar5{
    position: relative;
    top: -1999px;
    margin-left: 150px;
}
#botonComprar6{
    position: relative;
    top: -1999px;
    margin-left: 300px;
}
#botonComprar7{
    position: relative;
    top: -1999px;
    margin-left: 300px;
}
#botonComprar8{
    position: relative;
    top: -1999px;
    margin-left: 300px;
}


#imagen4{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 107%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(60%);
}

.imagen-fondo{
    height: 719px;
    background-size: cover;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.0);
    color: white;
    position: relative;
    top: -40px;
    height: 90vh;
}

.imagen-fondo::before{
    content: "";
    position: absolute;
    top: -900px;
    top: 6px;
    left: 0px;
    width: 100%;
    height: 107%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

#footer{
    background-color:blueviolet;
    text-align: center;
    border-radius: 10px;
    position: relative;
    top: -40px;
    
}

#pie{
    color: white;
    position: relative;
    top: -15px;
    margin-left: 40px;
}


#cabeza{
    
    height: 730px;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
}



#formulario{
    margin-left: 550px;
    margin-right: 550px;
    text-align: center;
    background-color: white;
    border-radius: 30px;
    position: relative;
    top: 90px;
}
#game{
    
    color: blueviolet;
    animation: cambiarColor 4s infinite;
}
#game:hover{
    color: rgb(180, 45, 155);
    text-shadow: 0 0 10px rgb(179, 169, 177), 0 0 20px rgb(199, 184, 193), 0 0 40px rgb(218, 205, 212);
    animation: parpadear 1.5s infinite alternate;
    
}


#sesion{
    position: relative;
    top: -20px;
    color: blueviolet;
    
}
@keyframes cambiarColor {
  0%   { color: #85b61a; }
  25%  { color: #00ff00; }
  50%  { color: #d31668; }
  75%  { color: #0dae68; }
  100% { color: #2d854b; }
}





