body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(150deg,  #ab73df, #bb87ea);
    height: 100vh;
}


nav {
    text-align: left;
    padding: 30px 50px 0 0;
    margin-left: 50px;
}

nav > a {
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
}
.avatar-ciruclar{
    width:100px; 
    height:100px;
    object-fit:cover; /*Que solo rellene el su contenedor*/
}

nav > a:hover {
    font-weight: bolder;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgba(89, 89, 89, 0.282);

}
.titulo{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba black;
}

.formulario h1{
    text-align: center;
    padding:20px;
    border-bottom: 1px solid silver;
}

.formulario form{
    padding: 0.5px;
    box-sizing: border-box;
}

 .username{
    position: relative;
    border-bottom: 2px solid grey;
    margin: 30px;
}

.username input{
    width: 100px;
    padding: 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.username label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #777777;
    transform: translateY(-10px);
    font-size: 16px;
    pointer-events: none;
    transition: .5s; /*Transición suave para el mensaje */
}

.username span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0%;
    width: 100%;
    height: 2px;
    background:  #b57eca;
    transition: .5s;
}

.username input:focus ~ label,
.username input:focus ~ label{
    top: -5px;
    color:  grey;
}

.username input:focus ~ span::before,
.username input:focus ~ span::before{
    width: 100%;
}
.username input:valid ~ label {
    top: -5px;
    color: #7b3b94;
}
    



/* username input:valid y username input:not(:valid) hace que al escribir en el campo, permanezca arriba la transición*/

input[type='submit']{
    width: 80%;
    height: 50px;
    border: 1px solid;
    background: #3d3b3e;
    border-radius: 25px;
    font-size: 16px; 
    color: white;
    cursor: pointer;
    outline: none;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto; 
}

input[type='submit']:hover{
 border-color: purple;
 transition: .5s;
}


.registrarse{
    margin: 30px;
    text-align: center;
    font-size: 16px;
    color: black;
}

.registrarse a{
    color: blue;
    text-decoration: none;
}

.registrarse a:hover{
    text-decoration: underline;
}